
@{
    ViewBag.Title = "Registration Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        <form action="" method="post">
            <table align="center">
                <tr>
                    <td><input type="hidden" name="Id" value="" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="First_name" value="" placeholder="First Name" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="Last_name" value="" placeholder="Last Name" /></td>
                </tr>
                <tr>
                    <td><input type="password" name="Password" value="" placeholder="Password" /></td>
                </tr>
                <tr>
                    <td><input type="text" name="Username" value="" placeholder="User Name" /></td>
                </tr>
                <tr>
                    <td>
                        <select name="Gender">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                            <option value="Others">Others</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><input type="email" name="Email" value="" placeholder="Email" /></td>
                </tr>
                <tr>
                    <td><input type="tel" name="Phone" value="" placeholder="Phone" /></td>
                </tr>
                <tr>
                    <td><input type="number" name="Payment" value="" placeholder="Payment" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
