@{
    ViewBag.Title = "Index";
}
<h3>Admin home page</h3>
<li><a class="btn btn-success" href="/Admin/Create">Register Admin</a></li><br />
<li><a class="btn btn-success" href="/Organization/Create">Register Organization</a></li><br />
<li><a class="btn btn-success" href="/Admin/All">All admin</a></li><br />
<li><a class="btn btn-success" href="/Organization/Index">All organnization</a></li>

