
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="/Login/Index" method="post">
        <div>
            <p class="text-danger">@ViewBag.Error</p>
            <input type="text" name="Username" placeholder="Username" value="" /><br />
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            <br /><input type="text" name="Password" placeholder="Password" value="" /><br />
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            <br /><input class="btn btn-group" type="submit" name="submit" value="Login" />
        </div>
    </form>
</body>
</html>
