@model Universal_Chat_Plugin.Models.Admin
@{
    Layout = null;
}

    <div>
        <form action="/Login/Index" method="post">
            <fieldset>
                <label><h2>Universal Chat Plugin</h2></label>
                <p class="text-danger">@ViewBag.Error</p>
                <input type="text" name="Username" placeholder="Username" value="" /><br />
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                <br /><input type="text" name="Password" placeholder="Password" value="" /><br />
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <br /><input class="btn btn-group" type="submit" name="submit" value="Login" />
            </fieldset>
        </form>
    </div>

