
@{ViewBag.Title = "Organization Registration Page";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div class="d-flex justify-content-center">
        <form action="/Organization/Register" method="post">
            <table align="center">
                <tr>
                    <td><input type="text" class="form-control" placeholder="Organization name" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Organization mail" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Organization type" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Organization name" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Organization name" /></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Organization name" /></td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>
